.eye-catching {
    padding: 20px;
    margin-left: 50px;
    text-align: center;
}

.start-text{
    display: flex;
    flex-direction: column;
}

.animation-text{
    display: flex;
    justify-content: space-evenly;
}

.animation-text img{
    width: 100%;
    max-width: 400px;
}

.eye-catching h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 70px;
    color: gold;
}

.eye-catching h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 100px;
    color:thistle;
}

.buttons{
    display: flex;
    margin-top: 20px;
}

.animation-text p{
    width: 500px;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
}

.eye-catching .coder{
    color: red;
    font-size: 40px; /* Increase the font size */
    font-weight: bolder;
}

@media screen and (max-width: 768px) {
    .animation-text{
        display: block;
        
    }
}




